body {
    font-family: 'Roboto', sans-serif;
}
.header a:hover {
    color: var(--ad-hover-text);
    cursor: pointer;
}
.header-nav >  a,
.footer > a {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}
.header-nav-list a {
    color: var(--main-text);
    padding-right: 50px;
    font-size: 14px;
}
.header-nav-contacts a {
    padding-left: 50px;
    color: var(--ad-main-text);
    font-size: 14px ;
}

.btn {
    background-color: var(--back-ad-hover);
    color: var(--on-back-text);
    font-weight: 700;
    border-radius: 5px;
    border: none;
}
.btn:hover {
    cursor: pointer;
}
.ef-solutions,
.footer {
    background-color: var(--back-main);
}
.ef-solutions h1 {
    color: var(--on-back-text);
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
}
.our-edges h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--main-text);
}
.our-edges p {
    font-size: 14px;
    color: var(--ad-main-text);
}
.we-doing h2 {
    font-size: 34px;
    color: var(--main-text);
}
.img {
    width: 370px;
}
.btns {
    background-color: var(--back-ad-main);
    color: var(--main-text);
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.btns:hover {
    background-color: var(--back-ad-hover);
    color: var(--on-back-text);
    border-radius: 5px;
    border: none;
}
.sec-view li:hover {
    cursor: pointer;
}
.sec-team {
    background-color: var(--back-ad-main);
}
.sec-team li:hover {
    background-color: var(--back-ad-hover);
    color: var(--on-back-text);
    cursor: pointer;
}
.sec-team h2 {
    color: var(--main-text);
    font-size: 36px;
}
.our-team h3 {
    color: var(--main-text);
    font-size: 16px;
}
.our-team p {
    color: var(--ad-main-text);
}
.our-member {
    width: 270px;
}
.view h3 {
    color: var(--main-text);
    font-size: 18px;
}
.view p {
    color: var(--ad-main-text);
    font-size: 16px;
}
.footer-ad {
    color: var(--on-back-text);
}
.footer li a {
    color: var(--ad-main-text);
}
.footer a:hover {
    color: var(--ad-hover-text);
    cursor: pointer;
}

